<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Films</title>
    </head>
    <body>
            <ul>
                <li><a href="/films/1">Mulan</li>
                 <li><a href="/films/2">Knives Out</li>
                 <li><a href="/films/3">Dunkirk</li>
                 <li><a href="/films/4">1917</li>
            </ul>
         <%= yield %>
    </body>
</html>